{% extends "viz_app/base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block content %}
<div class="content">
    <h1 class="header">About the Study</h1>
    <p style="text-align: center;">This study aims to use wearable sensors for monitoring physiological signals, sleep patterns,
        vocal characteristics, and phone usage in patients with depression while undergoing standard therapies.
        Over thirty patients were enrolled during a period of 2 years from primary care and psychiatry clinics at
        Massachusetts General Hospital. They were monitored for 8-weeks. Clinical measures for depression were also
        simultaneously collected.
    </p>
    <div class="spacer"></div>
    <div class="row">
        <h2>Goals</h2>
        <p>The project has the following aims:</p>
        <ol>
            <li><span style="font-weight: bold;">To assess the acceptability and feasibility of wearing non-invasive, ambulatory, physiological
                monitoring devices in patients with major depression.</span>
                We collected surveys from the participants about the comfort of using different devices for the study.
                Also, we measured adherence and compared it with other similar depression studies where wearable
                devices are not used. Finally, we asked participants who decided to leave the study if their decision
                was due to the monitoring technology and sensors used during the study.
            </li>
            <li><span style="font-weight: bold;">To examine the relationship between continuous physiologic measures,
                sleep measures, and vocal data with traditional measurements of depression (i.e., clinical rating
                scales).</span>
                We analyzed how the collected measures co-vary with the measured therapeutic effects (i.e., changes in
                standardized clinical measures of depression). We also explored other predictive relationships between
                the objective continuously measured variables and treatment outcomes.
            </li>
            <li><span style="font-weight: bold;">To assess the utility of physiologic sensors and vocal data to: a)
                provide an objective diagnosis of depression; b) predict early treatment response; c) anticipate signs
                of relapse.</span>
                On the basis of aforementioned analysis, we identified most relevant biomarkers of depression to
                diagnose depression.
            </li>
        </ol>
        <p>We hope that the data we collect can be used to guide interventions to improve depression.</p>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <h2>Data</h2>
        <p>Starting in the Spring of 2016, we have been recruiting people diagnosed with Major Depression Disorder from
            MGH clinics to join an 8 weeks study. In total we have collected data from over 30 participants. We have
            measured physiological, behavioral, and social data using mobile phones, wearable sensors, surveys and
            clinical data.
        </p>
        <p>During the study we collect:</p>
        <ul style="margin-bottom: 0;">
            <li>Standardized survey PANAS (Positive and Negative Affect Schedule)</li>
            <li>Self-reported surveys of timing and duration of activities (including sleep), medication, alcohol consumption</li>
            <li>Actigraphy, skin temperature, Heart Rate/Heart Rate Variability and electrodermal activity</li>
            <li>Meta-data from calls, SMS messages, and emails, phone usage, location on Android phones</li>
            <li>Weekly diary recording</li>
        </ul>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <h2>Still Curious?</h2>
        <p>Visit our <a class="text-link" href="{% url 'viz_app:faq' %}">FAQ Page</a> </p>
        <p>Check out our <a class="text-link" href="{% url 'viz_app:publications' %}">peer-reviewed publications</a> </p>
        <p>Or <a class="text-link" href="mailto:sfedor@media.mit.edu">email us</a>!</p>
    </div>
</div>
{% endblock %}
