{% extends "viz_app/visualization_base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block header %}
    <h1>Daily Trends</h1>
{% endblock %}

{% block description%}
    <b>
        A time series showing the trend of a measured or reported variable over the course of the 24 hours in a day.
        One data point per hour was calculated for each participant by taking the arithmetic mean of all raw data
        collected in that hour. If no data was collected in any particular hour for a participant, no data point is
        generated for that hour.
    </b>
    <br>
    Select options from the drop-down menus to see different data. Hover, click, and scroll on the graph/legend to
    see the data in more detail.
{% endblock %}

{% block options %}

    <div class="dropdown-container">
        <h3>Select a data category:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="category_dropdown">
                    {%  for category_value, category_label in categories %}
                        <option value="{{ category_value }}">{{ category_label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% for category, types in category_mapping %}
        <div class="dropdown-container data-dropdown-container" id="{{ category }}_dropdown_container">
            <h3>Select a data type:</h3>
            <div class="search-categories">
                <div class="select">
                    <select class="type_dropdown" id="{{ category }}_dropdown">
                        {% for type in types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="dropdown-container">
        <h3>Select a group (or none):</h3>
        <div class="search-categories">
            <div class="select">
                <select class="chart-dropdown" id="group_dropdown">
                    <option value="All" selected>All</option>
                    <option value="Depression">Depression Status</option>
                    <option value="Gender">Gender</option>
                    <option value="Marital">Marital Status</option>
                    <option value="Employment">Employment Status</option>
                    <option value="Age">Age</option>
                    <option value="Psychotherapy">Psychotherapy</option>
                    <option value="Episode Length">Episode Length</option>
                    <option value="Episode Type">Episode Type</option>
                    <option value="Phobia">Social Phobia</option>
                    <option value="Anxiety">Generalized Anxiety Disorder</option>
                    <option value="Current Medication">Current Medication Status</option>
                    <option value="New Medication">Additional Medication Status</option>
                    <option value="None">None (Individual)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="dropdown-container" id="aggregation_container">
        <h3>Select an aggregation method:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="aggregation_dropdown">
                    <option value="Mean" selected>Mean</option>
                    <option value="Median">Median</option>
                    <option value="Max">Max</option>
                    <option value="Min">Min</option>
                    <option value="Std Dev">Standard Deviation</option>
                </select>
            </div>
        </div>
    </div>
    <div class="dropdown-container" id="names_container" style="display: none;">
        <h3>Select an individual:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="names_dropdown">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}

{% block selection_descriptions %}
    <p class="category-description"><b>Data Category: </b><span class="category-description"></span></p>
    <p class="type-description"><b>Data Type: </b><span class="type-description"></span></p>
    <p class="group-description"><b>Group: </b><span class="group-description"></span></p>
    <p class="aggregation-description"><b>Aggregation: </b><span class="aggregation-description"></span></p>
    <p class="individual-description" style="display: none;"><b>Individual: </b></p>
{% endblock %}

{% block script %}
    <script src="{% static 'js/daily_trends.js' %}"></script>
{% endblock %}