{% extends parent %}

{% load staticfiles %}

{% block content %}
<div class="content">
  <div class="study-section">
    <h1 class='study-name'>FAQ</h1>
    <div class="spacer"></div>
    <h2 class="subheader">Approvals</h2>
    <div class="subtext">
      <ul>
          <li>
              <p  style='font-family:arimobold'>Was this study approved by MIT? </p>
              This study has been approved by MIT's COUHES (#1511302833) and MGH IRB (#2015P001913/MGH).
              Our protocol is reviewed annually by MIT COUHES and MGH IRB.
          </li>
      </ul>
    </div>
  <div class="spacer"></div>
  <h2 class="subheader">Data</h2>
  <div class="subtext">
    <ul>
        <li>
            <p  style='font-family:arimobold'>Can I download this data?</p>
            Unfortunately not – we have yet to release de-identified data.
        </li>
        <br>
        <li>
            <p  style='font-family:arimobold'>How much data have you collected?</p>
            We have collected data from 39 depressed individuals and 4 healthy controls over the course of 2 years.
        </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <h2 class="subheader">Sensors and Sensor Data</h2>
  <div class="subtext">
    <ul>
        <li>
            <p  style='font-family:arimobold'>Which data is recorded with the Empatica E4 sensor?</p>
            The E4 sensor from Empatica measures (1) skin conductance, (2) skin temperature, (3) heart rate, and (4)
            3-axis acceleration data. More information can be found
            <a class="text-link" href="https://www.empatica.com/research/e4/">here</a>.
        </li>
        <br>
        <li>
            <p  style='font-family:arimobold'>How is the E4 sensor data collected?</p>
            The E4 sensors were worn continuously by the participants for 8 weeks on both wrists. The measurements
            were uploaded regularly (~every 24 hours) to the Empatica server.
        </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <h2 class="subheader">Mobile Phone Data</h2>
  <div class="subtext">
    <ul>
        <li>
            <p  style='font-family:arimobold'>Which information was collected from phones?</p>
            The app collected:
            <ol style='margin-left:0;'>
                <li>Timing and sender or recipient phone numbers of calls and text messages</li>
                <li>Timing of screen on/off</li>
                <li>Location</li>
                <li>Timing of application use and the name of application process</li>
                <li>Device information (e.g. phone type, WiFi/Bluetooth mac address, etc.)</li>
            </ol>
            We did <b style='font-family:arimobold'>not</b> record SMS messages, phone conversations, internet browsing history, or which keys were
            pressed on the phone.
        </li>
        <br>
        <li>
            <p  style='font-family:arimobold'>How is the mobile phone data collected?</p>
            All the collected data is encrypted on the phone and then sent to the server using the movisensXS app.
            More information can be found <a class="text-link" href="https://xs.movisens.com/">here</a>.
        </li>
        <br>
        <li>
            <p  style='font-family:arimobold'>How confidential is the mobile phone data?</p>
            Software on the mobile phones would automatically de-identify the collected data by encrypting all
            the to/from phone numbers and sender/recipient names.
        </li>
    </ul>
  </div>
  <div class="spacer"></div>
  <h2 class="subheader">Recruitment</h2>
  <div class="subtext">
    <ul>
        <li>
            <p  style='font-family:arimobold'>How were subjects recruited for the study?</p>
            Subjects were enrolled from primary care and psychiatry clinics at Massachusetts General Hospital
            (MGH) by physician referral, fliers, internet, radio, call lists of individuals willing
            to be contacted for research, and general advertisements.
        </li>
        <br>
        <li>
            <p  style='font-family:arimobold'>What was the inclusion criteria for the subjects?</p>
            The inclusion criteria for the study were as follows:
            <ol style='margin-left:0;'>
                <li>Adults (age 18-75)</li>
                <li>Able to read, understand, and provide written informed consent in English</li>
                <li>Meet criteria for a primary psychiatric diagnosis of major depressive disorder for at
                least 4 weeks, according to the M.I.N.I. (Mini International Neuropsychiatric Interview)</li>
                <li>Hamilton Depression Rating Scale (HDRS) total score of at least 18</li>
                <li>Engaged in or willing to be referred for clinical care for depression treatment as
                usual (antidepressants and/or psychotherapy)</li>
                <li>Must have measurable skin conductance/electrodermal activity (as assessed at the screening
                visit), and healthy-looking skin at the wrist location</li>
                <li>Must own a working Android smartphone (Android 2.3+) and use it regularly</li>
                <li>Must be willing to wear E4 sensors on both wrists</li>
                <li>Must be willing to answer study surveys and record weekly audio-diary on their smartphone</li>
                <li>Must own a Windows PC (or tablet) or a Mac computer (or laptop)</li>
                <li>Must have access to Internet service every day</li>
            </ol>
        </li>
    </ul>
  </div>
  </div>
</div>
{% endblock %}
