{% extends parent %} {% load staticfiles %} {% load static from staticfiles %}
{% block content %}
<div class="content">
  <!-- Slideshow container -->
  <div class="slideshow-container" style='width: 100%; height:65vh; overflow:hidden'>

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade img1">
      <img src="{% static "img/img1.jpg" %}" style="width: 100%; margin-top: -15vh">
    </div>

    <div class="mySlides fade img2">
      <img src="{% static "img/img2.jpg" %}" style="width: 100%;margin-top: -10vh">
    </div>

    <div class="mySlides fade img3">
      <img src="{% static "img/img3.jpg" %}" style="width: 100%;">
    </div>

    <div class="mySlides fade img4">
      <img src="{% static "img/img4.jpg" %}" style="width: 100%;">
    </div>

    <div class="mySlides fade img5">
      <img src="{% static "img/img5.jpg" %}" style="width: 100%; margin-top:-15vh">
    </div>

    <!-- Next and previous buttons -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
  </div>
<!-- <div style="text-align:center; margin-top: 2vh">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div> -->

  <div class="home-section">
    <h1 class="study-name" style='background-color: rgba(204, 204, 204, 0.6); position:relative;z-index:100;color: #f2f2f2;font-size: 100px;margin-left:0; margin-right:0;margin-top:-42vh'><strong>WELCOME!</strong></h1>
    <h1 style='margin-top: 27vh'>to The Sensor-Based Characterization of Depression Study!<br>(SENSCODE)</h1>
  </div>
  <div class="img-container-home">
    <img style='margin:0;'src="{% static "img/mghlogo.png" %}" alt="The Empatica E4 Wristband">
    <div style="position:relative;height:15vh;width:39vh;overflow:hidden">
      <img style='margin-top:1.5vh;margin-left:-9.5vh;' src="{% static "img/mgh-logo.png" %}" alt="The Empatica E4 Wristband">
    </div>
    <div style="margin: 0 0 0 10vh;position:relative;width:23vh;overflow:hidden">
      <img style='height:14.5vh;margin: -2.3vh 0 0 -2.2vh' src="{% static "img/affective_computing.png" %}" alt="The Empatica E4 Wristband">
    </div>
    <img style='margin: 0 0 0 10vh' src="{% static "img/mitmedialab.png" %}" alt="The Empatica E4 Wristband">
  </div>
  <div class="study-section">
    <h2 class='study-name'>More on the MGH-Psychiatry and MIT Media Lab Research Collaboration</h2>
    <div class="basic-information">
      <p>In 2015, the <a href="http://www.depressionmgh.org/about-us">Depression Clinical and Research Program</a> at Massachusetts General Hospital (MGH) and the Massachusetts Institute of Technology Media Lab’s <a href="https://affect.media.mit.edu/index.php">Affective Computing Group</a> joined forces to establish the MGH-MIT Alliance. The goal of this collaboration is to employ machine learning and artificial intelligence to digitally phenotype depression, which refers to exploring people’s interactions with various devices, including smartphones, to assess their well-being. This has led to the birth of two studies: the Grand Challenge Study and Sensor-Based Characterization of Depression (SENSCODE).</p>
    </div>
  </div>
  <div class="spacer"></div>
  {% if request.user.is_authenticated %}
    {% if perms.viz_app.study_1 %}
    <a id="learn-more" href="{% url 'viz_app:about' %}">Learn More!</a>
    {% else %}
    <a id="learn-more" href="{% url 'viz_app:about2' %}">Learn More!</a>
    {% endif %}
  {% else %}
    <a id="learn-more" href="{% url 'viz_app:about' %}">Learn More!</a>
  {% endif %}
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/photo_gallery.js' %}"></script>
{% endblock %}
