{% extends "viz_app/base.html" %}

{% block content %}
    <div class="content">
        <h1 style="margin-top:5%">Incomplete Login</h1>
        <hr>
        <h3 style="margin-top:5%"">Although you are registered as a user, you have not been authorized with viewing permissions according to your role.</h3>
        <h3>Please contact the study administrator to complete registration as a study participant, or as a researcher to view aggregate data. </h3>
        <h3>Once complete, please logout and re-login with correct credentials.</h3>
    </div>

{% endblock %}