{% extends "viz_app/base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block content %}
<div class="content">
    <h1>Publications</h1>
    <ul style="margin: 20px;">
        <li class="list-group">
            Howe, E., Ghandeharioun, A., Pedrelli, P., Mischoulon, D., Picard, R., Fedor, S.
            <span style="font-weight: bold;">"Location Patterns from Phone Sensors May Help Predict Depressive
                Symptoms: A Longitudinal Pilot Study,"
            </span>
            Association for Behavioral and Cognitive Therapies Annual Convention - Tech SIG, San Diego, CA, November
            2017.
            <a class="text-link" href="https://dam-prod.media.mit.edu/x/2017/11/23/17.howe_etal_location_ABCT.pdf">[PDF]</a>
        </li>
        <li class="list-group">
            Pedrelli, P., Howe, E., Mischoulon, D., Picard, R., Ghandeharioun, A., Fedor, S.
            <span style="font-weight: bold;">
                "Integrating EMA, clinical assessment and wearable sensors to examine the association between MDD and
                alcohol use,"
            </span>
            Connected Health Conference, Boston, MA, October 2017.
            <a class="text-link" href="https://asset.jmir.pub/assets/8f49767c0d6f9ce738e2c8d707044455.pdf">[PDF]</a>
        </li>
        <li class="list-group">
            Ghandeharioun, A., Fedor, S., Sangermano, L., Ionescu, D., Alpert, J., Dale, C., Sontag, D., Picard, R.
            <span style="font-weight: bold;">
                "Objective assessment of depressive symptoms with machine learning and wearable sensors data,"
            </span>
            International Conference on Affective Computing and Intelligent Interaction (ACII), San Antonio, Texas,
            October 2017.
            <a class="text-link" href="https://affect.media.mit.edu/pdfs/17.ghandeharioun_etal_objective_ACII.pdf">[PDF]</a>
        </li>
        <li class="list-group">
            Ghandeharioun, A., Fedor, S., Sangermano, L., Alpert, J., Dale, C., Ionescu, D., Picard, R.
            <span style="font-weight: bold;">
                "Location Variability from Commodity Phone Sensors Is Negatively Associated with Self-Reported
                Depression Score: A Pilot Study,"
            </span>
            Association for Psychological Science (APS) annual convention, Boston, May 2017.
            <a class="text-link" href="https://dam-prod.media.mit.edu/x/2017/11/23/poster_location_v5.pdf">[PDF]</a>
        </li>
        <li class="list-group">
            Ghandeharioun, A., Sangermano, L., Picard, R., Alpert, J., Dale, C., Ionescu, D., Fedor, S.
            <span style="font-weight: bold;">
                "Objective vs. Subjective Reports of Sleep Quality in Major Depressive Disorder: A Pilot Study,"
            </span>
            Anxiety and Depression Conference (ADAA), San Fransisco, April 2017.
            <a class="text-link" href="https://dam-prod.media.mit.edu/x/2017/11/23/poster_sleep_v6.2.pdf">[PDF]</a>
        </li>
        <li class="list-group">
            Sangermano, L., Ghandeharioun, A., Picard, R., Alpert, J., Dale, C., Fedor, S., Ionescu, D.
            <span style="font-weight: bold;">
                "Incoming Cell Phone Data as a Potential Predictor of Depression Severity: A Pilot Study,"
            </span>
            Anxiety and Depression Conference (ADAA), San Fransisco, April 2017.
            <a class="text-link" href="https://dam-prod.media.mit.edu/x/2017/11/23/ADAA%20SMS%20Poster%203.28.17_v4.pdf">[PDF]</a>
        </li>
    </ul>
</div>
{% endblock %}