{% extends "viz_app/visualization_base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block header %}
    <h1>Scatter Plot</h1>
{% endblock %}

{% block description%}
    <b>
        A scatter plot showing direct correlation between measured or reported variables. Each data point represents the
        arithmetic mean of all data collected over one day for one participant.
    </b>
    <br>
    Select options from the drop-down menus to see different data. Hover, click, and scroll on the graph/legend to
    see the data in more detail.
{% endblock %}

{% block options %}
    <div class="axis-selections">
        <div class="dropdown-container">
            <h3>Select X axis category:</h3>
            <div class="search-categories">
                <div class="select">
                    <select id="x_axis_category">
                        {% for category_value, category_label in categories %}
                            <option value="{{ category_value }}">{{ category_label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% for category, types in category_mapping %}
            <div class="dropdown-container data-dropdown-container x_axis" id="x_axis_{{ category }}_container">
                <h3>Select X axis data type:</h3>
                <div class="search-categories">
                    <div class="select">
                        <select class="x_axis_dropdown" id="x_axis_{{ category }}_dropdown">
                            {% for type in types %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="axis-selections">
        <div class="dropdown-container">
            <h3>Select Y axis category:</h3>
            <div class="search-categories">
                <div class="select">
                    <select id="y_axis_category">
                        {% for category_value, category_label in categories %}
                            <option value="{{ category_value }}">{{ category_label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% for category, types in category_mapping %}
            <div class="dropdown-container data-dropdown-container y_axis" id="y_axis_{{ category }}_container">
                <h3>Select Y axis data type:</h3>
                <div class="search-categories">
                    <div class="select">
                        <select class="y_axis_dropdown" id="y_axis_{{ category }}_dropdown">
                            {% for type in types %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="dropdown-container">
        <h3>Select a group:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="group_dropdown">
                    <option value="All" selected>All</option>
                    <option value="Depression">Depression Status</option>
                    <option value="Gender">Gender</option>
                    <option value="Marital">Marital Status</option>
                    <option value="Employment">Employment Status</option>
                    <option value="Age">Age</option>
                    <option value="Psychotherapy">Psychotherapy</option>
                    <option value="Episode Length">Episode Length</option>
                    <option value="Episode Type">Episode Type</option>
                    <option value="Phobia">Social Phobia</option>
                    <option value="Anxiety">Generalized Anxiety Disorder</option>
                    <option value="Current Medication">Current Medication Status</option>
                    <option value="New Medication">Additional Medication Status</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/scatter_plot.js' %}"></script>
{% endblock %}
