{% extends parent %}

{% load static %}
 
{% block title %}GCS - Sleep Data{% endblock %}
{% block header %}
    <h1>Sleep Data</h1>
{% endblock %}

{% block description%}
    <b>
        A representation of both recorded and self-reported sleep over the course of the 56 days in the study.
        Group plots are aggregated as a mean first for an individual at each time, and then over all individuals.
        Individual charts display a single data point (asleep or no data) for all times of the day throughout the study.
    </b>
    <br>
    Select options from the drop-down menus to see different data. Hover, click, and scroll on the graph/legend to
    see the data in more detail.
{% endblock %}

{% block options %}

    <div class="dropdown-container"
         {% if perms.viz_app.individual and not perms.viz_app.aggregate %}style="display: none;"{% endif %}>
        <h3>Select a group (or none):</h3>
        <div class="search-categories">
            <div class="select">
                <select id="group_dropdown">
                    {% if perms.viz_app.aggregate %}
                    <option value="All" selected>All</option>
                    <option value="Depression">Depression Status</option>
                    <option value="Gender">Gender</option>
                    <option value="Marital">Marital Status</option>
                    <option value="Employment">Employment Status</option>
                    <option value="Age">Age</option>
                    <option value="Psychotherapy">Psychotherapy</option>
                    <option value="Episode Length">Episode Length</option>
                    <option value="Episode Type">Episode Type</option>
                    <option value="Phobia">Social Phobia</option>
                    <option value="Anxiety">Generalized Anxiety Disorder</option>
                    <option value="Current Medication">Current Medication Status</option>
                    {% endif %}
                    {% if perms.viz_app.individual %}
                    <option value="None">None (Individual)</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <div class="dropdown-container" id="type_container" {% if perms.viz_app.aggregate %} style="display: none" {% endif %}>
        <h3>Select a chart type:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="type_dropdown">
                        {% if perms.viz_app.individual and not perms.viz_app.aggregate %}
                            <option value="total" selected>Total Sleep</option>
                            <option value="regularity">Sleep Regularity</option>
                        {% else %}
                            <option value="total" selected>Total Sleep</option>
                            <option value="regularity">Sleep Regularity</option>
                            <option value="raster">Sleep Raster Plot</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <div class="dropdown-container" id="names_container" {% if perms.viz_app.aggregate %} style="display: none" {% endif %}>
        <h3>Select an individual:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="names_dropdown">
                    {% if perms.viz_app.individual and not perms.viz_app.aggregate %}
                        <option value="{{ user.username }}">{{ user.username }}</option>
                    {% else%}
                        {% for name in names %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
    </div>

{% endblock %}

{% block selection_descriptions %}
    <div class="description-label preprocess-description">Preprocessing</div>
    <div class="description-label group-description"
         {% if perms.viz_app.individual and not perms.viz_app.aggregate %}style="display: none;"{% endif %}>Group</div>
    <div class="description-label type-description">Chart Type</div>
    <div class="description-label individual-description" style="display: none;">Individual</div>
{%  endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/sleep_data.js' %}"></script>
    <script>
        $('.navbar-nav .nav-item.active').removeClass('active');
        $('#data-visualization').addClass('active');
    </script>
{% endblock %}
