{% extends "viz_app/visualization_base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block header %}
    <h1>Study Trends</h1>
{% endblock %}

{% block options %}

    <div class="dropdown-container">
        <h3>Select a data category:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="category_dropdown">
                    {%  for category in category_mapping %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% for category, types in category_mapping.items %}
        <div class="dropdown-container data-dropdown-container" id="{{ category }}_dropdown_container">
            <h3>Select a data type:</h3>
            <div class="search-categories">
                <div class="select">
                    <select class="type_dropdown" id="{{ category }}_dropdown">
                        {% for type in types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="dropdown-container">
        <h3>Select a group (or none):</h3>
        <div class="search-categories">
            <div class="select">
                <select id="group_dropdown">
                    <option value="All" selected>All</option>
                    <option value="Depression">Depression Status</option>
                    <option value="Gender">Gender</option>
                    <option value="Marital">Marital Status</option>
                    <option value="Employment">Employment Status</option>
                    <option value="Age">Age</option>
                    <option value="Psychotherapy">Psychotherapy</option>
                    <option value="Episode Length">Episode Length</option>
                    <option value="Episode Type">Episode Type</option>
                    <option value="Phobia">Social Phobia</option>
                    <option value="Anxiety">Generalized Anxiety Disorder</option>
                    <option value="Current Medication">Current Medication Status</option>
                    <option value="New Medication">Additional Medication Status</option>
                    <option value="None">None (Individual)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="dropdown-container" id="aggregation_container">
        <h3>Select an aggregation method:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="aggregation_dropdown">
                    <option value="Mean" selected>Mean</option>
                    <option value="Median">Median</option>
                    <option value="Max">Max</option>
                    <option value="Min">Min</option>
                    <option value="Std Dev">Standard Deviation</option>
                </select>
            </div>
        </div>
    </div>
    <div class="dropdown-container" id="names_container">
        <h3>Select an individual:</h3>
        <div class="search-categories">
            <div class="select">
                <select id="names_dropdown">
                    {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/study_trends.js' %}"></script>
{% endblock %}
