{% extends parent %} {% load staticfiles %} {% block content %}
<div class="content">
  <h1>Team</h1>
  <div class="spacer"></div>
  <div class="row">
    <h2 style='margin-bottom: 0;'>Current MIT Members</h2>
      <div class="members">

        <div class="member">
          <div class="" style='width: 40vh; height: 40vh;'>
            <img src="{% static "img/picard.jpg" %}" alt="Rosalind Picard"
            class="personalimage left" style='z-index: 10888880'>
            <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
            </div>
          </div>
          <div class="name-text">
            <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Rosalind Picard</h3>
            <i>(Principal Investigator)</i>
            <br>
            <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
            </p>
            <div style='display:flex; margin-top: 0.75em'>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="" style='width: 40vh; height: 40vh;'>
            <img src="{% static "img/szymon.jpg" %}" alt="Szymon Fedor"
            class="personalimage left" style='z-index: 10888880'>
            <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
            </div>
          </div>
          <div class="name-text">
            <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Szymon Fedor</h3>
            <i>(Research Scientist)</i>
            <br>
            <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
            </p>
            <div style='display:flex; margin-top: 0.75em'>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="" style='width: 40vh; height: 40vh;'>
            <img src="{% static "img/asma.jpg" %}" alt="Asma Ghandeharioun"
            class="personalimage left" style='z-index: 10888880'>
            <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
            </div>
          </div>
          <div class="name-text">
            <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Asma Ghandeharioun</h3>
            <i>(Graduate Student)</i>
            <br>
            <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
            </p>
            <div style='display:flex; margin-top: 0.75em'>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="" style='width: 40vh; height: 40vh;'>
            <img src="{% static "img/darian.jpg" %}" alt="Darian Bhathena"
            class="personalimage left" style='z-index: 10888880'>
            <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
            </div>
          </div>
          <div class="name-text">
            <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Darian Bhathena</h3>
            <i>(UROP Student)</i>
            <br>
            <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
            </p>
            <div style='display:flex; margin-top: 0.75em'>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="" style='width: 40vh; height: 40vh;'>
            <img src="{% static "img/noah.jpg" %}" alt="Noah Faro"
            class="personalimage left" style='z-index: 10888880'>
            <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
            </div>
          </div>
          <div class="name-text">
            <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Noah Faro</h3>
            <i>(UROP Student)</i>
            <br>
            <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
            </p>
            <div style='display:flex; margin-top: 0.75em'>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="" style='width: 40vh; height: 40vh;'>
            <img src="{% static "img/olivia.jpg" %}" alt="Olivia Valle"
            class="personalimage left" style='z-index: 10888880'>
            <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
            </div>
          </div>
          <div class="name-text">
            <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Olivia Valle</h3>
            <i>(UROP Student)</i>
            <br>
            <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
            </p>
            <div style='display:flex; margin-top: 0.75em'>
            </div>
          </div>
        </div>
      </div>
  <div class="spacer"></div>
  <div class="row">
    <h2 style='margin-bottom: 0;'>Current MGH Members</h2>
    <div class="members">
      <div class="member">
        <div class="" style='width: 40vh; height: 40vh;'>
          <img src="{% static "img/paola.jpg" %}" alt="Paola Pedrelli"
          class="personalimage left" style='z-index: 10888880'>
          <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
          </div>
        </div>
        <div class="name-text">
          <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Paola Pedrelli, PhD</h3>
          <i>(Principal Investigator)</i>
          <br>
          <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
          Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP at Massachusetts General Hospital, and an Assistant Professor at Harvard Medical School.
          </p>
          <div style='display:flex; margin-top: 0.75em'>
            <a href="http://www.depressionmgh.org/who-we-are/staff/paola-pedrelli-phd" style='margin-right: 1rem'>DCRP Profile</a>
            |
            <a href="https://pubmed.ncbi.nlm.nih.gov/?term=Pedrelli+P+%5BAuthor%5D" style='margin-left: 1rem'>Publications</a>
          </div>
        </div>
      </div>
      <div class="member">
        <div class="" style='width: 40vh; height: 40vh;'>
          <img src="{% static "img/david.jpg" %}" alt="David Mischoulon"
          class="personalimage left" style='z-index: 10888880'>
          <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
          </div>
        </div>
        <div class="name-text">
          <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">David Mischoulon, MD, PhD</h3>
          <i>(Investigator)</i>
          <br>
          <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Dr. David Mischoulon, MD, PhD, is the Joyce R. Tedlow Professor of Psychiatry at Harvard Medical School, and the Director of the Depression Clinical and Research Program (DCRP) at Massachusetts General Hospital.
          </p>
          <div style='display:flex; margin-top: 0.75em'>
            <a href="http://www.depressionmgh.org/who-we-are/staff/david-mischoulon-md-phd" style='margin-right: 1rem'>DCRP Profile</a>
            |
            <a href="https://pubmed.ncbi.nlm.nih.gov/?term=mischoulon" style='margin-left: 1rem'>Publications</a>
          </div>
        </div>
      </div>
      <div class="member">
        <div class="" style='width: 40vh; height: 40vh;'>
          <img src="{% static "img/bridget.jpg" %}" alt="Bridget Wallace"
          class="personalimage left" style='z-index: 10888880'>
          <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
          </div>
        </div>
        <div class="name-text">
          <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Bridget Wallace, B.A.</h3>
          <i>(Clinical Research Coordinator)</i>
          <br>
          <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Bridget Wallace is a second year Clinical Research Coordinator at the DCRP. She graduated from Duke University in 2019 with a B.A. in Psychology and a minor in Evolutionary Anthropology.
          </p>
          <div style='display:flex; margin-top: 0.75em'>
            <a href="http://www.depressionmgh.org/who-we-are/staff/bridget-wallace" style='margin-right: 1rem'>DCRP Profile</a>
          </div>
        </div>
      </div>
      <div class="member">
        <div class="" style='width: 40vh; height: 40vh;'>
          <img src="{% static "img/emma.jpg" %}" alt="Emma Hayden"
          class="personalimage left" style='z-index: 10888880'>
          <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
          </div>
        </div>
        <div class="name-text">
          <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Emma Hayden, B.S.</h3>
          <i>(Clinical Research Coordinator)</i>
          <br>
          <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Emma Hayden is a second year Clinical Research Coordinator at the DCRP. She graduated from Tufts University in 2018 with a B.S. in Clinical Psychology and French.
          </p>
          <div style='display:flex; margin-top: 0.75em'>
            <a href="http://www.depressionmgh.org/who-we-are/staff/emma-hayden" style='margin-right: 1rem'>DCRP Profile</a>
          </div>
        </div>
      </div>
      <div class="member">
        <div class="" style='width: 40vh; height: 40vh;'>
          <img src="{% static "img/michael.jpg" %}" alt="Michael Pittman"
          class="personalimage left" style='z-index: 10888880'>
          <div class=""style='z-index: 50; width: 20vh; height: 20vh; margin-top: -20vh; background-color: rgba(76, 175, 80, 0.7);'>
          </div>
        </div>
        <div class="name-text">
          <h3 style="font-weight: bold; text-align: left; margin-left: 0; margin-bottom: 0.1em">Michael Pittman, B.A.</h3>
          <i>(Clinical Research Coordinator)</i>
          <br>
          <p style='line-height:1.2rem; margin-left: 0; margin-top: 1em'>
            Michael Pittman is a first year Clinical Research Coordinator at the DCRP. He graduated with honors from the University of Richmond in 2020 with a B.A. in Psychology.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <h2>Former Members</h2>
    <ul style="list-style: none;" class="former-members">
      <li>
        <span style="font-weight: bold;">Jonathan Alpert</span>
        <i>(Principal Investigator)</i>
      </li>
      <li>
        <span style="font-weight: bold;">Dawn Ionescu</span>
        <i>(Investigator)</i>
      </li>
      <li>
        <span style="font-weight: bold;">Marek Subernat</span>
        <i>(UROP Student)</i>
      </li>
      <li>
        <span style="font-weight: bold;">Chelsea Dale</span>
        <i>(Research Assistant)</i>
      </li>
      <li>
        <span style="font-weight: bold;">Esther Howe</span>
        <i>(Research Assistant)</i>
      </li>
      <li>
        <span style="font-weight: bold;">John Lin</span>
        <i>(Research Assistant)</i>
      </li>
      <li>
        <span style="font-weight: bold;">Sabari Sarkar</span>
        <i>(UROP Student)</i>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
