{% extends parent %} {% load staticfiles %} {% block content %}
<div class="content">
  <h1 class="study-name">Team</h1>
  <div class="spacer"></div>
  <div class="row" style="margin: 0 2vw; align-items: center;">
    <h2 style="margin-bottom: 0;" class="study-name">Current MIT Members</h2>
    <div class="members">
      <div class="member">
        <div class="member-body">
          <img src="{% static "img/picard.jpg" %}" alt="Rosalind Picard"
          class="personalimage">
          <div class="colored-background"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            Rosalind Picard, <br />
            <h5>Sc.D/FIEEE</h5>
          </h4>
          <i>(Principal Investigator)</i>
          <br />
          <p class="card-text">
            Dr. Picard is a Professor in MIT’s Program in Media Arts and
            Sciences and a founder and director of the
            <a
              href="https://www.media.mit.edu/groups/affective-computing/overview/"
              >Affective Computing Research Group</a
            >
            at the Massachusetts Institute of Technology (MIT) Media Lab.
          </p>
          <div class="card-buttons">
            <a
              role="button"
              href="http://web.media.mit.edu/~picard/"
              class="btn btn-primary"
              style="margin-right: 0.5rem;"
              >Personal Website</a
            >
            <a
              role="button"
              href="https://www.media.mit.edu/groups/affective-computing/publications/"
              class="btn btn-primary"
              style="margin-left: 0.5rem;"
              >Publications</a
            >
          </div>
        </div>
      </div>
      <div class="member">
        <div class="member-body">
          <img src="{% static "img/szymon.jpg" %}" alt="Szymon Fedor"
          class="personalimage">
          <div class="colored-background"></div>
        </div>
        <div class="card-body">
          <div>
            <h4 class="card-title">
              Szymon Fedor, <br />
              <h5>PhD</h5>
            </h4>
            <i>(Co-Investigator)</i>
            <br />
            <p class="card-text">
              Dr. Fedor is a Research Scientist in the MIT Media Lab.
            </p>
            <div class="card-buttons">
              <a
                role="button"
                href="https://szymonfedor.eu/"
                class="btn btn-primary"
                style="margin-right: 0.5rem;"
                >Personal Website</a
              >
              <a
                role="button"
                href="https://scholar.google.com/citations?user=ndv95w0AAAAJ&hl=en/"
                class="btn btn-primary"
                style="margin-left: 0.5rem;"
                >Publications</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="member">
        <div class="member-body">
          <img src="{% static "img/asma.jpg" %}" alt="Asma Ghandeharioun"
          class="personalimage">
          <div class="colored-background"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            Asma Ghandeharioun, <br />
            <h5>MSc</h5>
          </h4>
          <i>(Graduate Student)</i>
          <br />
          <p class="card-text"></p>
          <div class="card-buttons">
            <a
              role="button"
              href="http://web.media.mit.edu/~asma_gh/"
              class="btn btn-primary"
              style="margin-right: 0.5rem;"
              >Personal Website</a
            >
            <a
              role="button"
              href="https://scholar.google.com/citations?user=CkfQy2gAAAAJ"
              class="btn btn-primary"
              style="margin-left: 0.5rem;"
              >Publications</a
            >
          </div>
        </div>
      </div>

      <div class="member">
        <div class="member-body">
          <img src="{% static "img/darian.jpg" %}" alt="Darian Bhathena"
          class="personalimage">
          <div class="colored-background"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            Darian Bhathena, <br />
            <h5>BSc</h5>
          </h4>
          <i>(MEng Student)</i>
          <br />
          <p class="card-text">
            Darian Bhathena is a Master’s student in the Affective Computing
            group at the Media Lab. He received his B.S. in Computer Science and
            Engineering with a minor in Biomedical Engineering from MIT in 2020.
          </p>
        </div>
      </div>

      <div class="member">
        <div class="member-body">
          <img src="{% static "img/noah.jpg" %}" alt="Noah Faro"
          class="personalimage">
          <div class="colored-background"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            Noah Faro, <br />
            <h5>Undergraduate</h5>
          </h4>
          <i>(UROP Student)</i>
          <br />
          <p class="card-text">
            Noah Faro is an undergraduate at MIT studying Computer Science and
            Engineering with a Minor in Biology. He was formerly a researcher in
            the Langer Lab at the Koch Institute of Integrative Cancer Research.
          </p>
        </div>
      </div>

      <div class="member">
        <div class="member-body">
          <img src="{% static "img/olivia.jpg" %}" alt="Olivia Valle"
          class="personalimage">
          <div class="colored-background"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            Olivia Valle, <br />
            <h5>Undergraduate</h5>
          </h4>
          <i>(UROP Student)</i>
          <br />
          <p class="card-text">
            Olivia is a junior at MIT studying Computation and Cognition. In
            MIT's Undergraduate Association, she is the Vice Chair of the
            Committee for Student Support and Wellness.
          </p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <h2 style="margin-bottom: 0; text-align: center;" class="study-name">
        Current MGH Members
      </h2>
      <div class="members">
        <div class="member">
          <div class="member-body">
            <img src="{% static "img/paola.jpg" %}" alt="Paola Pedrelli"
            class="personalimage">
            <div class="colored-background"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Paola Pedrelli, <br />
              <h5>PhD</h5>
            </h4>
            <i>(Principal Investigator)</i>
            <br />
            <p class="card-text">
              Dr. Pedrelli is the Director of Dual Diagnoses Studies at the DCRP
              at Massachusetts General Hospital, and an Assistant Professor at
              Harvard Medical School.
            </p>
            <div class="card-buttons">
              <a
                role="button"
                href="http://www.depressionmgh.org/who-we-are/staff/paola-pedrelli-phd"
                class="btn btn-primary"
                style="margin-right: 0.5rem;"
                >DCRP Profile</a
              >
              <a
                role="button"
                href="https://pubmed.ncbi.nlm.nih.gov/?term=Pedrelli+P+%5BAuthor%5D"
                class="btn btn-primary"
                style="margin-left: 0.5rem;"
                >Publications</a
              >
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member-body">
            <img src="{% static "img/david.jpg" %}" alt="David Mischoulon"
            class="personalimage">
            <div class="colored-background"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              David Mischoulon, <br />
              <h5>MD/PhD</h5>
            </h4>
            <i>(Investigator)</i>
            <br />
            <p class="card-text">
              Dr. David Mischoulon, MD, PhD, is the Joyce R. Tedlow Professor of
              Psychiatry at Harvard Medical School, and the Director of the
              Depression Clinical and Research Program (DCRP) at Massachusetts
              General Hospital.
            </p>
            <div class="card-buttons">
              <a
                role="button"
                href="http://www.depressionmgh.org/who-we-are/staff/david-mischoulon-md-phd"
                class="btn btn-primary"
                style="margin-right: 0.5rem;"
                >DCRP Profile</a
              >
              <a
                role="button"
                href="https://pubmed.ncbi.nlm.nih.gov/?term=mischoulon"
                class="btn btn-primary"
                style="margin-left: 0.5rem;"
                >Publications</a
              >
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member-body">
            <img src="{% static "img/joshua.jpg" %}" alt="Joshua Curtiss"
            class="personalimage">
            <div class="colored-background"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Joshua Curtiss, <br />
              <h5>PhD</h5>
            </h4>
            <i>(Clinical Research Coordinator)</i>
            <br />
            <p class="card-text">
              Joshua E. Curtiss, PhD, is completing a post-doctoral fellowship
              with the DCRP at Massachusetts General Hospital. He completed his
              PhD at Boston University and his predoctoral internship at MGH.
            </p>
          </div>
        </div>

        <div class="member">
          <div class="member-body">
            <img src="{% static "img/bridget.jpg" %}" alt="Bridget Wallace"
            class="personalimage">
            <div class="colored-background"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Bridget Wallace, <br />
              <h5>B.A.</h5>
            </h4>
            <i>(Clinical Research Coordinator)</i>
            <br />
            <p class="card-text">
              Bridget Wallace is a second year Clinical Research Coordinator at
              the DCRP. She graduated from Duke University in 2019 with a B.A.
              in Psychology and a minor in Evolutionary Anthropology.
            </p>
            <div class="card-buttons">
              <a
                role="button"
                href="http://www.depressionmgh.org/who-we-are/staff/bridget-wallace"
                class="btn btn-primary"
                style="margin-right: 0.5rem;"
                >DCRP Profile</a
              >
            </div>
          </div>
        </div>

        <div class="member">
          <div class="member-body">
            <img src="{% static "img/michael.jpg" %}" alt="Michael Pittman"
            class="personalimage">
            <div class="colored-background"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Michael Pittman, <br />
              <h5>B.A.</h5>
            </h4>
            <i>(Clinical Research Coordinator)</i>
            <br />
            <p class="card-text">
              Michael Pittman is a first year Clinical Research Coordinator at
              the DCRP. He graduated with honors from the University of Richmond
              in 2020 with a B.A. in Psychology.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div
      class="row"
      style="
        margin: 0 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      "
    >
      <h2 class="study-name" style="margin-bottom: 0;">Former Members</h2>
      <ul style="list-style: none;" class="former-members">
        <li>
          <span style="font-weight: bold;">Jonathan Alpert</span>
          <i>(Principal Investigator)</i>
        </li>
        <li>
          <span style="font-weight: bold;">Lisa Sangermano</span>
          <i>(Research Assistant)</i>
        </li>
        <li>
          <span style="font-weight: bold;">Dawn Ionescu</span>
          <i>(Investigator)</i>
        </li>
        <li>
          <span style="font-weight: bold;">Marek Subernat</span>
          <i>(UROP Student)</i>
        </li>
        <li>
          <span style="font-weight: bold;">Chelsea Dale</span>
          <i>(Research Assistant)</i>
        </li>
        <li>
          <span style="font-weight: bold;">Esther Howe</span>
          <i>(Research Assistant)</i>
        </li>
        <li>
          <span style="font-weight: bold;">John Lin</span>
          <i>(Research Assistant)</i>
        </li>
        <li>
          <span style="font-weight: bold;">Sarbari Sarkar</span>
          <i>(UROP Student)</i>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}
</div>
