{% extends "viz_app/base2.html"  %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block content %}
<div class="content">
    {% block header %}INSERT HEADER{% endblock %}
    <p style="text-align: center;">
        {% block description %}INSERT DESCRIPTION{% endblock %}
    </p>
    <hr class="horizontal-bar">
    <div class="options-container">
        {% block options %} {% endblock %}
    </div>
    <div class="surrounding-chart-container">
        <div class="chart-container">
            <div class="chart" id="chart1"></div>
        </div>
        <div id='HDRS-colors'>
          <div style='background-color:rgba(76,175,80, 0.9); height:46.6%;'>
          </div>
          <div style='background-color:rgba(76,175,80, 0.6); height:15.2%;'>
          </div>
          <div style='background-color:rgba(76,175,80, 0.45); height:19.7%;'>
          </div>
          <div style='background-color: rgba(76,175,80, 0.3);  height:18.5%;'>
          </div>
        </div>
        <div id='PHQ9-colors'>
          <div class="" style='background-color:rgba(76,175,80, 0.9); height:32.3%'>
          </div>
          <div class=""style='background-color: rgba(76,175,80, 0.75); height:18%'>
          </div>
          <div class="" style='background-color:rgba(76,175,80, 0.6); height:18%'>
          </div>
          <div class="" style='background-color:rgba(76,175,80, 0.45); height:17.8%'>
          </div>
          <div class="" style='background-color: rgba(76,175,80, 0.3);  height:13.9%'>
          </div>
        </div>
        <div id="depression-legend-HDRS">
          <div style='margin-bottom: 5px; font-size: 16px;'>
            <strong>Severity of Depression:</strong>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.9);'>
            </div>
            <div style='margin-top: 8px'>
              = Severe
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.6);'>
            </div>
            <div style='margin-top: 8px'>
              = Moderate
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.45);'>
            </div>
            <div style='margin-top: 8px'>
              = Mild
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.3);'>
            </div>
            <div style='margin-top: 8px'>
              = Normal
            </div>
          </div>
        </div>
        <div id="depression-legend-PHQ9">
          <div style='margin-bottom: 5px; font-size: 16px'>
            <strong>Severity of Depression:</strong>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.9);'>
            </div>
            <div style='margin-top: 8px'>
              = Severe
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.75);'>
            </div>
            <div style='margin-top: 8px'>
              = Moderate Severe
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.6);'>
            </div>
            <div style='margin-top: 8px'>
              = Moderate
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.45);'>
            </div>
            <div style='margin-top: 8px'>
              = Mild
            </div>
          </div>
          <div class='legend-container'>
            <div class='color-container' style='background-color: rgba(76,175,80, 0.3);'>
            </div>
            <div style='margin-top: 8px'>
              = Minimal
            </div>
          </div>
        </div>
      </div>
        <div id="loading">
            <div id="loading-image"></div>
        </div>
    </div>
    <div class="description-container">
        <div class="description">
            <span id="description-text">Click on the options below to see more details</span>
        </div>
        <hr class="horizontal-bar" style="width: 95%;">
        <div class="description-label-container">
            {% block selection_descriptions %}INSERT DESCRIPTIONS{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/js_resource.js' %}"></script>
{% endblock %}
