{% extends "viz_app/base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block content %}
{% block header %}INSERT HEADER{% endblock %}
<div class="options-container">
    {% block options %} {% endblock %}
</div>
<div class="spacer"></div>
<div style="position: relative;">
    <div class="chart-container">
        <div class="chart" id="chart1"></div>
        <div class="chart" id="chart2" style="display: none;"></div>
    </div>
    <div id="loading">
        <div id="loading-image"></div>
    </div>
</div>
{% endblock %}
