{% extends "viz_app/base.html" %}

{% load staticfiles %}
{% load static from staticfiles %}

{% block content %}
<div class="content">
    {% block header %}INSERT HEADER{% endblock %}
    <p style="text-align: center;">
        {% block description %}INSERT DESCRIPTION{% endblock %}
    </p>
    <hr class="description-bar">
    <div class="options-container">
        {% block options %} {% endblock %}
    </div>
    <div class="selection-descriptions-container">
        {% block selection_descriptions %}INSERT DESCRIPTIONS{% endblock %}
    </div>
    <hr class="description-bar">
    <div style="position: relative;">
        <div class="chart-container">
            <div class="chart" id="chart1"></div>
            <div class="chart" id="chart2" style="display: none;"></div>
        </div>
        <div id="loading">
            <div id="loading-image"></div>
        </div>
    </div>
</div>
{% endblock %}
