body {
    font-family: "Kozuka Gothic Pro";
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 1000px;
}

hr {
    width: 90%;
    color: gray;
    border-style: solid;
}

.topnav {
    background-color: #4CAf50;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.topnav .first_button {
    background-color: inherit;
    font-family: inherit;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 4px 20px;
    text-decoration: none;
}

.topnav .button {
    background-color: inherit;
    font-family: inherit;
    color: #cfe2cf;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-left: 5px;
    padding: 0px 6px;
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.topnav .button:hover {
    color: #20603b;
}

.topnav .first_button:hover {
    background-color: #20603b;
}




.graph_buttons {
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.button_container {
    position: relative;
}

.button_container .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.button_container:hover img.button {
    opacity: 0.3;
}

.button_container:hover .middle {
    opacity: 1;
}

.middle .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
}

div.button_container img.button {
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}



.dropdown {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.dropbtn {
    position: relative;
    height: inherit;
}

.dropdown-content {
    position: absolute;
    top: 50px;
    display: none;
    margin-left: 5px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #d0d0d0;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

h1,h2,h3 {
    text-align: center;
    margin: 0.4em;
    font-weight: 500;
}

p {
    margin: 0.4em;
}

.options-container {
    display: flex;
    justify-content: space-around;
}

.line {
    fill: none;
    stroke: #4CAf50;
    stroke-width: 2px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 20px 40px;
    height: 70%;
}

.chart-container .chart {
    max-height: none !important;
    height: 100%;
    width: 100%;
}

.spacer {
    height: 50px;
}

.text-link {
    color: #4CAf50;
    font-weight: 500;
    text-decoration: none;
}

.text-link:hover {
    color: #1E90FF;
}

.list-group {
    margin-bottom: 20px;
}

#learn-more {
    background-color: white;
    font-family: inherit;
    color: black;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    text-decoration: none;
    width: 150px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#learn-more:hover {
    background-color: #dcefdc;
}

.row ul,ol {
    margin-left: 40px;
    margin-right: 80px;
}

p,span,li{
    line-height: 1.8em;
}

#names_container {
    display: none;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 98;
    text-align: center;
}

#loading-image {
    z-index: 99;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4CAf50;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
