/* General */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
    display: flex;
    flex-direction: column;
    margin: 0;
}

hr {
    width: 90%;
    color: #686868;
    border-style: solid;
}

hr.horizontal-bar {
    width: 100%;
    margin: 20px auto;
    color: #686868;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

h1,h2,h3 {
    text-align: center;
    margin: 0.6em;
    font-weight: 400;
}

p {
    margin: 0.4em;
}

p,span,li {
    line-height: 1.8em;
}

.spacer {
    height: 50px;
}

.text-link {
    color: #4CAf50;
    font-weight: 400;
    text-decoration: none;
}

.text-link:hover {
    color: #20603b;
}

.list-group {
    margin-bottom: 20px;
}

.row ul,ol {
    margin-left: 40px;
    margin-right: 80px;
}

.row li {
    padding: 5px 0px;
}

.row ol li {
    padding: 0;
}

#page-footer {
    display: flex;
    text-align: center;
    align-self: center;
    width: 75%;
    color: #777;
    font-size: 14px;
    padding: 50px 0 30px;
}


/* Chart option description */

.description-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px 0;
    font-style: italic;
    color: #666;
    text-align: center;
}

.description-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10px 10px;
    font-size: larger;
    flex-wrap: wrap;
}

.description-label {
    flex: 1;
    position: relative;
    text-align: center;
    color: #20603b;
    padding: 5px 5px 10px;
}

.description-label:hover {
    color: #4CAf50;
    cursor: pointer;
}

.description-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* Top navigation bar */

.topnav {
    background-color: #4CAf50;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.topnav .first_button {
    background-color: inherit;
    font-family: inherit;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    text-decoration: none;
}

.topnav .button {
    background-color: inherit;
    font-family: inherit;
    color: #f6f9f6;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-left: 5px;
    padding: 0 6px;
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.topnav .button:hover {
    color: #20603b;
}

.topnav .first_button:hover {
    background-color: #20603b;
}

#login_logout_button {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    padding: 15px 20px;
}

#greeting {
    color: #f6f9f6;
    font-weight: bold;
}


/* Top navigation bar dropdown menu (Data Visualization) */

.dropdown {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.dropbtn {
    position: relative;
    height: inherit;
}

.dropdown-content {
    position: absolute;
    top: 50px;
    display: none;
    margin-left: 5px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    padding: 10px 12px;
    text-decoration: none;
    display: flex;
    color: #4CAf50;
}

.dropdown-content a:hover {
    color: white;
}

.dropdown-content a:hover {
    background-color: #d0d0d0;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}


/* Chart index */

.graph_buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 316px);
    justify-content: space-around;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    padding: 10px;
}

.button_container {
    position: relative;
    height: 175px;
    display: flex;
    justify-content: center;
}

.button_container .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.button_container:hover img.button {
    opacity: 0.3;
}

.button_container:hover .middle {
    opacity: 1;
}

.middle .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 20px;
    text-align: center;
    border-radius: 2px;
}

div.button_container img.button {
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}


/* Login/Logout */

form {
    width: 50%;
    padding: 0 15px;
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.form-label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}

#login-button {
    font-family: inherit;
    color: #444;
    background-color: rgba(76, 175, 80, 0.5);
    border: 1px solid rgba(44, 140, 89, 0.5);
    margin-left: 30px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 2px;
}

#login-button:hover {
    background-color: #2C8C59;
    color: #f6f9f6;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-alert {
    color: red;
}


/* Chart option selections */

.options-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.data-dropdown-container:not(#Activity_dropdown_container):not(#x_axis_Activity_container):not(#y_axis_Activity_container) {
    display: none;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-categories {
    padding: 6px 4px 6px 4px;
    font-size: 14px;
    background: rgba(76, 175, 80, 0.5);
    border: none;
    border-radius: 2px;
    position: relative;
}

.search-categories .select {
    width: 100%;
}

.search-categories .select select {
    font-family: inherit;
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 5px;
    min-height: 20px;
    width: 100%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    outline: none;
}

.axis-selections {
    display: flex;
    flex-direction: column;
}


/* Chart components */

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 20px 40px;
    height: 80%;
}

.chart-container .chart {
    max-height: none !important;
    height: 100%;
    width: 100%;
}

div.plotly-notifier {
    visibility: hidden;
}


/* "Learn More" button */

#learn-more {
    background-color: rgba(76, 175, 80, 0.5);
    font-family: inherit;
    color: #444;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(44,140,89, 0.5);
    text-decoration: none;
    width: 150px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

#learn-more:hover {
    background-color: #2C8C59;
    color: #f6f9f6;
}


/* Loading spinner */

#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 98;
    text-align: center;
}

#loading-image {
    z-index: 99;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #4CAf50;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
