/* General */

body {
  font-family: 'arimoregular';
  color: #444;
  display: flex;
  flex-direction: column;
  margin: 0;
}

hr {
  width: 90%;
  color: #686868;
  border-style: solid;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,.8);
}

.nav-link {
  padding-right: 1rem;
}

.btn-light {
    color: #212529;
    background-color: #e1e6ea;
    border-color: #f8f9fa;
}

hr.horizontal-bar {
  width: 100%;
  margin: 20px auto;
  color: #686868;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0.6em;
  font-weight: 400;
}

p {
  margin: 0.4em;
}

p,
span,
li {
  line-height: 1.8em;
}

.spacer {
  height: 50px;
}

.text-link {
  color: darkslateblue;
  font-weight: 400;
  text-decoration: none;
}

.text-link:hover {
  color: darkgray;
}

.list-group {
  margin-bottom: 20px;
}

.row ul,
ol {
  margin-left: 10vw;
  margin-right: 10vw;
}

ul {
  padding-inline-start: 0;
}

.row li {
  padding-top: 2vh;
  text-align: center;
}

.row ol li {
  padding: 0;
}

main {
  min-height: 90%;
}

footer {
  display: flex;
  text-align: center;
  align-self: center;
  width: 100%;
  color: #666;
  font-size: 14px;
  background: #eee;
  min-height: 10%;
}

footer p {
  padding: 0 10%;
}

/* Chart option description */

.description-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px 0;
  font-style: italic;
  color: #666;
  text-align: center;
}

.description-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px 10px;
  font-size: larger;
  flex-wrap: wrap;
}

.description-label {
  flex: 1;
  position: relative;
  text-align: center;
  color: #20603b;
  padding: 5px 5px 10px;
}

.description-label:hover {
  color: #4caf50;
  cursor: pointer;
}

.description-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Top navigation bar */

.topnav {
  background-color: #4caf50;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.topnav .first_button {
  background-color: inherit;
  font-family: inherit;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 15px 20px;
  text-decoration: none;
}

.topnav .button {
  background-color: inherit;
  font-family: inherit;
  color: #f6f9f6;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 5px;
  padding: 0 6px;
  height: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.topnav .button:hover {
  color: #20603b;
}

.topnav .first_button:hover {
  background-color: #20603b;
}

#login_logout_button {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  padding: 15px 20px;
}

#greeting {
  color: #f6f9f6;
  font-weight: bold;
}

/* Top navigation bar dropdown menu (Data Visualization) */

.dropdown {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.dropbtn {
  position: relative;
  height: inherit;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  display: none;
  margin-left: 5px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
  color: indigo;
  font-weight: bold;
  font-size: 16px;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown-content a:hover {
  background-color: #d0d0d0;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Chart index */

.graph_buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 316px);
  justify-content: space-around;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  padding: 10px;
}

.button_container {
  position: relative;
  height: 175px;
  display: flex;
  justify-content: center;
}

.button_container .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button_container:hover img.button {
  opacity: 0.3;
}

.button_container:hover .middle {
  opacity: 1;
}

.middle .text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 20px;
  text-align: center;
  border-radius: 2px;
}

div.button_container img.button {
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* Login/Logout */

form {
  width: 50%;
  padding: 0 15px;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#login-button {
  font-family: inherit;
  color: #444;
  background-color: rgba(76, 175, 80, 0.5);
  border: 1px solid rgba(44, 140, 89, 0.5);
  margin-left: 30px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 2px;
}

#login-button:hover {
  background-color: #2c8c59;
  color: #f6f9f6;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-alert {
  color: red;
}

/* Chart option selections */

.options-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.data-dropdown-container:not(#Activity_dropdown_container):not(#x_axis_Activity_container):not(#y_axis_Activity_container):not(#Clinical_Data_dropdown_container) {
  display: none;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-categories {
  padding: 6px 4px 6px 4px;
  font-size: 14px;
  background: rgba(76, 175, 80, 0.5);
  border: none;
  border-radius: 2px;
  position: relative;
}

.search-categories .select {
  width: 100%;
}

.search-categories .select select {
  font-family: inherit;
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 5px;
  min-height: 20px;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
  outline: none;
}

.axis-selections {
  display: flex;
  flex-direction: column;
}

/* Chart components */

.surrounding-chart-container{
  position: relative;
  width:84%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 20px 40px;
  height: 80%;
  z-index: 100;
}

.chart-container .chart {
  max-height: none !important;
  height: 100%;
  width: 100%;
  z-index: 50;
}

#HDRS-colors{
  width: calc(100% - 241px);
  height: 55.2%;
  position: absolute;
  top: 24.5%;
  left: 120px;
  display: none;
}

#PHQ9-colors{
  width: calc(100% - 241px);
  height: 55.2%; position:
  absolute; top: 24.5%;
  left: 120px;
  display:none;
}

#depression-legend-HDRS{
  font-size: 13px;
  width: 190px;
  height: 220px;
  position: absolute;
  top: 29.5%;
  left: 97%;
  background-color: rgb(236,236,236);
  padding: 10px;
  display: block;
}

#depression-legend-PHQ9{
  font-size: 13px;
  width: 190px;
  height: 220px;
  position: absolute;
  top: 29.5%;
  left: 97%;
  background-color: rgb(236,236,236);
  padding: 10px;
  display: block;
}

.legend-container{
  display: flex;
  margin-bottom: 5px;
}

.color-container{
  margin: 0 3% 0 10%;
  width: 45px;
  height: 30px;
}



div.plotly-notifier {
  visibility: hidden;
}

/* "Learn More" button */

#learn-more {
  background-color: lightgray;
  font-family: inherit;
  color: #444;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(44, 140, 89, 0.5);
  text-decoration: none;
  width: 150px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

#learn-more:hover {
  background-color: #2c8c59;
  color: #f6f9f6;
}

/* Loading spinner */

#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 98;
  text-align: center;
}

#loading-image {
  z-index: 99;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4caf50;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.personalimage {
  position: relative;
  z-index: 100;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  display: flex;
  width: 40vh;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.name-text {
  padding-top: 2vh;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.study-section{
  padding: 0 15vw;
}

.home-section{
  padding: 0 14vw;
}

.study-name{
  color: rgba(36, 135, 40, 1);
}

.subheader{
  text-align: left;
  margin-left: 0;
  color: rgba(36, 135, 40, 1);
}
.basic-information{
  text-align: center;
  line-height: 1.5rem;
}
.sub-text ol{
  margin-left: 0;
  text-align: left;
}

.sub-text ul{
  margin-left: 0;
  text-align: left;
  padding-inline-start: 40px;
}

.sub-text p{
  margin-left: 0;
  line-height: 1.5rem;
}
.sub-text ol li{
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.sub-text strong{
  line-height: 1.5rem;
}

.img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container img{
  margin: 1.8rem 0 1rem 0;
  width:40vw;
  height: auto;
}

.curious{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.curious p{
  margin-top: 0;
}

.img-container-home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh 0 5vh 0;
}

.img-container-home img{
  height:10vh;
  width: auto;
}

.mgh-logo{
  margin:0;
}

.mgh-words-container{
  position:relative;
  height:15vh;
  width:39vh;
  overflow:hidden;
}

.mgh-words-container img{
  margin-top:1.5vh;
  margin-left:-9.5vh;
}

.affective-computing-container{
  margin: 0 0 0 10vh;
  position:relative;
  width:23vh;
  overflow:hidden;
}

.affective-computing-container img{
  height:14.5vh;
  margin: -2.3vh 0 0 -2.2vh;
}

.media-lab-img{
  margin: 0 0 0 10vh;
}

.cb-slideshow {
    position: relative;
    list-style-type: none;
    width: 100%;
    height: 70vh;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 24s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    vertical-align: middle;
    color: #fff;
    animation: titleAnimation 24s linear infinite 0s;
}
.cb-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 30vh;
    padding: 0;
    margin: 20vh 0;
    line-height: 30vh;
}

.cb-slideshow li:nth-child(1) span {
    background-position: 0 -20vh;
    background-image: url(../img/img6.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-position: 0 -15vh;
    background-image: url(../img/img2.jpg);
    animation-delay: 4s;
}
.cb-slideshow li:nth-child(3) span {
    background-position: 0 -20vh;
    background-image: url(../img/img3.jpg);
    animation-delay: 8s;
}
.cb-slideshow li:nth-child(4) span {
    background-position: 0 -5vh;
    background-image: url(../img/img4.jpg);
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(5) span {
    background-position: 0 -20vh;
    background-image: url(../img/img5.jpg);
    animation-delay: 16s;
}
.cb-slideshow li:nth-child(6) span {
    background-position: 0 0vh;
    background-image: url(../img/img6.jpg);
    animation-delay: 20s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 4s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 8s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 16s;
}
.cb-slideshow li:nth-child(6) div {
    animation-delay: 20s;
}
.personalimage {
  position: relative;
  z-index: 100;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  display: flex;
  width: 40vh;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.member-body{
  width: 40vh;
  height: 40vh;
}
.colored-background{
  position: relative;
  z-index: 10;
  width: 40vh;
  height: 20vh;
  margin-top: -20vh;
  background-color: rgba(76, 175, 80, 0.7);
}
.card-body{
  background-color: rgba(224, 224, 224, 0.6);
  margin-top:-20vh;
  padding-top:22vh;
  position:relative;
  z-index:0;
  border-radius:10px;
}
.card-title{
  font-weight: bold;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.1em;
}
.card-text{
  line-height:1.2rem;
  margin-left: 0;
  margin-top: 1em;
}
.card-buttons{
  display:flex;
  margin-top: 0.75em;
  justify-content: center;
}

.row{
  margin: 0 2vw;
  justify-content: center;
}
.card-buttons a {
  font-size:0.8rem;
}



@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation {
    0% { opacity: 1 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 1 }
    100% { opacity: 1 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 20vh;
        padding: 0;
        margin: 25vh 0;
        line-height: 20vh;
    }
}
@media screen and (max-width: 1050px) {
    .cb-slideshow li:nth-child(6) span {
        background-position: 0 -10vh;
        background-image: url(../img/img6.jpg)
    }
    .cb-slideshow li:nth-child(1) span {
        background-position: 0 -5vh;
        background-image: url(../img/img1.jpg)
    }
    .cb-slideshow li:nth-child(3) span {
        background-position: 0 -10vh;
        background-image: url(../img/img3.jpg);
        animation-delay: 12s;
    }
    .cb-slideshow li:nth-child(5) span {
        background-position: 0 -10vh;
        background-image: url(../img/img5.jpg);
        animation-delay: 24s;
    }
}
@media screen and (max-width: 1050px) and (min-height: 1000px) {
    .personalimage {
      position: relative;
      z-index: 100;
      height: 20vh;
      width: 20vh;
      border-radius: 50%;
    }

    .members {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .member {
      display: flex;
      width: 20vh;
      flex-direction: column;
      margin-top: 5vh;
      margin-left: 5vh;
      margin-right: 5vh;
    }

    .member-body{
      width: 20vh;
      height: 20vh;
    }
    .colored-background{
      position: relative;
      z-index: 10;
      width: 20vh;
      height: 10vh;
      margin-top: -10vh;
      background-color: rgba(76, 175, 80, 0.7);
    }
    .card-body{
      background-color: rgba(224, 224, 224, 0.6);
      margin-top:-5vh;
      padding-top:6vh;
      position:relative;
      z-index:0;
      border-radius:10px;
    }
    h1{
      font-size: 2em
    }
    h2{
      font-size: 1.8em;
    }
    .img-container-home{
      margin: 5vh 0 3vh 0;
    }
    .img-container-home img{
      height:6vh;
    }
    .mgh-words-container{
      height:9vh;
      width:23vh;
    }
    .mgh-words-container img{
      margin-top:1vh;
      margin-left:-6vh;
    }
    .affective-computing-container{
      margin: 0 0 0 5vh;
      position:relative;
      width:15vh;
      overflow:hidden;
    }
    .affective-computing-container img{
      height:8.5vh;
      margin: -1.2vh 0 0 -0vh;
    }
    .media-lab-img{
      margin: 0 0 0 5vh;
    }
    .home-section{
      padding: 0 5vw;
    }
    .cb-slideshow li div h3 { font-size: 140px }
    .cb-slideshow li:nth-child(1) span {
        background-position: -20vw 0vh;
        background-image: url(../img/img1.jpg)
    }
    .cb-slideshow li:nth-child(2) span {
        background-position: -50vw 0vh;
        background-image: url(../img/img2.jpg);
        animation-delay: 6s;
    }
    .cb-slideshow li:nth-child(3) span {
        background-position: -30vw 0vh;
        background-image: url(../img/img3.jpg);
        animation-delay: 12s;
    }
    .cb-slideshow li:nth-child(4) span {
        background-position: -20vw 0vh;
        background-image: url(../img/img4.jpg);
        animation-delay: 18s;
    }
    .cb-slideshow li:nth-child(5) span {
        background-position: -30vw 0vh;
        background-image: url(../img/img5.jpg);
        animation-delay: 24s;
    }
    .cb-slideshow li:nth-child(6) span {
        background-position: -30vw 0vh;
        background-image: url(../img/img6.jpg)
    }
}
@media screen and (max-width: 990px) {
  .navbar-brand{
    margin-left: 1rem
  }
}
@media screen and (max-width: 920px) {
  .personalimage {
    position: relative;
    z-index: 100;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
  }

  .member h4{
    font-size: 1.25rem;
  }
  .member h5{
    font-size: 1rem;
  }
  .member {
    font-size: 0.8rem;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .member {
    width: 30vh;
    margin-top: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
  }
  .member-body{
    width: 30vh;
    height: 30vh;
  }
  .colored-background{
    position: relative;
    z-index: 10;
    width: 30vh;
    height: 15vh;
    margin-top: -15vh;
    background-color: rgba(76, 175, 80, 0.7);
  }
  .card-body{
    background-color: rgba(224, 224, 224, 0.6);
    margin-top:-5vh;
    padding-top:6vh;
    width: 30vh;
    position:relative;
    z-index:0;
    border-radius:10px;
  }
}
@media screen and (max-width: 910px) {

  .cb-slideshow li:nth-child(6) span {
      background-position: 0 -0vh;
      background-image: url(../img/img6.jpg)
  }
  .cb-slideshow li:nth-child(1) span {
      background-position: 0 0vh;
      background-image: url(../img/img1.jpg)
  }
  .cb-slideshow li:nth-child(2) span {
      background-position: 0 0vh;
      background-image: url(../img/img2.jpg);
      animation-delay: 6s;
  }
  .cb-slideshow li:nth-child(3) span {
      background-position: 0 0vh;
      background-image: url(../img/img3.jpg);
      animation-delay: 12s;
  }
  .cb-slideshow li:nth-child(4) span {
      background-position: 0 0vh;
      background-image: url(../img/img4.jpg);
      animation-delay: 18s;
  }
  .cb-slideshow li:nth-child(5) span {
      background-position: 0 0vh;
      background-image: url(../img/img5.jpg);
      animation-delay: 24s;
  }
}
@media screen and (max-width: 770px) {
  .personalimage {
    position: relative;
    z-index: 100;
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
  }

  .member h4{
    font-size: 1.25rem;
  }
  .member h5{
    font-size: 1rem;
  }
  .member {
    font-size: 0.8rem;
    flex-direction: row;
    width: calc(35vh + 50vw);
  }
  .member-body{
    width: 35vh;
    height: 35vh;
  }
  .card{
    height: 35vh;
    width: 60vw;
  }
  .colored-background{
    height: 35vh;
    width: 17.5vh;
    margin-left: 17.5vh;
    margin-top: -35vh;
    position: relative;
    z-index: 10;
    background-color: rgba(76, 175, 80, 0.7);
  }
  .card-body{
    padding: 20px 20px 20px 20px;
    width: 60vw;
    background-color: rgba(224, 224, 224, 0.6);
    margin-top:0vh;
    height: 35vh;
    position:relative;
    z-index:0;
    border-radius:10px;
  }
  h1{
    font-size: 2em
  }
  h2{
    font-size: 1.5em;
  }
  .img-container-home{
    margin: 5vh 0 3vh 0;
  }
  .img-container-home img{
    height:6vh;
  }
  .mgh-words-container{
    height:9vh;
    width:23vh;
  }
  .mgh-words-container img{
    margin-top:1vh;
    margin-left:-6vh;
  }
  .affective-computing-container{
    margin: 0 0 0 5vh;
    position:relative;
    width:15vh;
    overflow:hidden;
  }
  .affective-computing-container img{
    height:8.5vh;
    margin: -1.2vh 0 0 -0vh;
  }
  .media-lab-img{
    margin: 0 0 0 5vh;
  }
  .home-section{
    padding: 0 5vw;
  }
  .cb-slideshow li:nth-child(6) span {
      background-position: -5vw 0vh;
      background-image: url(../img/img6.jpg)
  }
  .cb-slideshow li:nth-child(1) span {
      background-position: -12vw 0vh;
      background-image: url(../img/img1.jpg)
  }
  .cb-slideshow li:nth-child(2) span {
      background-position: -60vw 0vh;
      background-image: url(../img/img2.jpg);
      animation-delay: 6s;
  }
  .cb-slideshow li:nth-child(3) span {
      background-position: 0 0vh;
      background-image: url(../img/img3.jpg);
      animation-delay: 12s;
  }
  .cb-slideshow li:nth-child(4) span {
      background-position: 0 0vh;
      background-image: url(../img/img4.jpg);
      animation-delay: 18s;
  }
  .cb-slideshow li:nth-child(5) span {
      background-position: -30vw 0vh;
      background-image: url(../img/img5.jpg);
      animation-delay: 24s;
  }
}
@media screen and (max-width: 600px) {
  .personalimage {
    position: relative;
    z-index: 100;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
  }

  .member h4{
    font-size: 1.1rem;
  }
  .member h5{
    font-size: 0.9rem;
  }
  .member {
    margin-top: 10vh;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 0.7rem;
    flex-direction: row;
    width: calc(25vh + 60vw);
  }
  .member-body{
    width: 25vh;
    height: 25vh;
  }
  .card{
    height: 25vh;
    width: 60vw;
  }
  .colored-background{
    height: 25vh;
    width: 12.5vh;
    margin-left: 12.5vh;
    margin-top: -25vh;
    position: relative;
    z-index: 10;
    background-color: rgba(76, 175, 80, 0.7);
  }
  .card-body{
    padding: 20px 20px 20px 20px;
    width: 60vw;
    background-color: rgba(224, 224, 224, 0.6);
    margin-top:-5vh;
    height: 35vh;
    position:relative;
    z-index:0;
    border-radius:10px;
  }
  body {
    font-size: 0.8rem
  }
  footer {
    font-size: 0.6rem
  }
  .study-section {
    padding: 0 5vh;
  }
  h1{
    font-size: 1.5em
  }
  h2{
    font-size: 1.2em;
  }
  .img-container-home{
    margin: 5vh 0 3vh 0;
  }
  .img-container-home img{
    height:6vh;
  }
  .mgh-words-container{
    height:9vh;
    width:23vh;
  }
  .mgh-words-container img{
    margin-top:1vh;
    margin-left:-6vh;
  }
  .affective-computing-container{
    margin: 0 0 0 5vh;
    position:relative;
    width:15vh;
    overflow:hidden;
  }
  .affective-computing-container img{
    height:8.5vh;
    margin: -1.2vh 0 0 -0vh;
  }
  .media-lab-img{
    margin: 0 0 0 5vh;
  }
  .home-section{
    padding: 0 5vw;
  }
  #learn-more {
    font-size: 1rem;
    width: 100px;
  }
  .cb-slideshow li:nth-child(6) span {
      background-position: -20vw 0vh;
      background-image: url(../img/img6.jpg)
  }
  .cb-slideshow li:nth-child(1) span {
      background-position: -20vw 0vh;
      background-image: url(../img/img1.jpg)
  }
  .cb-slideshow li:nth-child(2) span {
      background-position: -40vw 0vh;
      background-image: url(../img/img2.jpg);
      animation-delay: 6s;
  }
  .cb-slideshow li:nth-child(3) span {
      background-position: 0 0vh;
      background-image: url(../img/img3.jpg);
      animation-delay: 12s;
  }
  .cb-slideshow li:nth-child(4) span {
      background-position: 0 0vh;
      background-image: url(../img/img4.jpg);
      animation-delay: 18s;
  }
  .cb-slideshow li:nth-child(5) span {
      background-position: -20vw 0vh;
      background-image: url(../img/img5.jpg);
      animation-delay: 24s;
  }
  .cb-slideshow li div h3 { font-size: 80px }
}
@media screen and (max-width: 500px) {
  .cb-slideshow li:nth-child(6) span {
      background-position: -40vw 0vh;
      background-image: url(../img/img6.jpg)
  }
  .cb-slideshow li:nth-child(1) span {
      background-position: -30vw 0vh;
      background-image: url(../img/img1.jpg)
  }
  .cb-slideshow li:nth-child(2) span {
      background-position: -60vw 0vh;
      background-image: url(../img/img2.jpg);
      animation-delay: 6s;
  }
  .cb-slideshow li:nth-child(3) span {
      background-position: 0 0vh;
      background-image: url(../img/img3.jpg);
      animation-delay: 12s;
  }
  .cb-slideshow li:nth-child(4) span {
      background-position: 0 0vh;
      background-image: url(../img/img4.jpg);
      animation-delay: 18s;
  }
  .cb-slideshow li:nth-child(5) span {
      background-position: -40vw 0vh;
      background-image: url(../img/img5.jpg);
      animation-delay: 24s;
  }
}

@media screen and (max-width: 400px) {
  .personalimage {
    position: relative;
    z-index: 100;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
  }

  .member h4{
    font-size: 1rem;
  }
  .member h5{
    font-size: 0.8rem;
  }
  .member {
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 0.7rem;
    flex-direction: row;
    width: calc(40vw + 50vw);
  }
  .member p{
    line-height: 1rem;
  }
  .member-body{
    width: 40vw;
    height: 40vw;
  }
  .card{
    height: 40vw;
    width: 50vw;
  }
  .colored-background{
    height: 40vw;
    width: 20vw;
    margin-left: 20vw;
    margin-top: -40vw;
    position: relative;
    z-index: 10;
    background-color: rgba(76, 175, 80, 0.7);
  }
  .card-body{
    padding: 20px 20px 20px 20px;
    width: 50vw;
    background-color: rgba(224, 224, 224, 0.6);
    margin-top:0vh;
    margin-left: -0.5vw;
    height: auto;
    position:relative;
    z-index:0;
    border-radius:10px;
  }
  .card-buttons a {
    font-size:0.6rem;
  }
  .cb-slideshow {
      height: 60vh;
  }
  .content {
    margin: 0;
  }
  .home-section{
    padding: 0 0;
  }
  .affective-computing-container{
    margin: 0 0 0 5vh;
  }
  .media-lab-img{
    margin: 0 5vh 0 5vh;
  }
  h1{
    font-size: 1.5em
  }
  h2{
    font-size: 1.0em;
  }
  .row h2{
    font-size: 1.3em
  }
  .subheader{
    font-size: 1.2em;
  }
  .cb-slideshow li div h3 {
      font-size: 7vh;
      margin: 26vh 0;
      line-height: 8vh;
  }
  .study-section{
    padding: 0 8vw
  }
  .cb-slideshow li:nth-child(6) span {
      background-position: -40vw 0vh;
      background-image: url(../img/img6.jpg)
  }
  .cb-slideshow li:nth-child(1) span {
      background-position: -10vw 0vh;
      background-image: url(../img/img1.jpg)
  }
  .cb-slideshow li:nth-child(2) span {
      background-position: -110vw 0vh;
      background-image: url(../img/img2.jpg);
      animation-delay: 6s;
  }
  .cb-slideshow li:nth-child(3) span {
      background-position: -20vw 0vh;
      background-image: url(../img/img3.jpg);
      animation-delay: 12s;
  }
  .cb-slideshow li:nth-child(4) span {
      background-position: -30vw 0vh;
      background-image: url(../img/img4.jpg);
      animation-delay: 18s;
  }
  .cb-slideshow li:nth-child(5) span {
      background-position: -65vw 0vh;
      background-image: url(../img/img5.jpg);
      animation-delay: 24s;
  }
  .main-svg{
    width: 100vw;
  }
  #login_logout_button{
    padding-right: 0px;
  }
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
