/* General */

body {
  font-family: 'arimoregular';
  color: #444;
  display: flex;
  flex-direction: column;
  margin: 0;
}

hr {
  width: 90%;
  color: #686868;
  border-style: solid;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,.8);
}

.nav-link {
  padding-right: 1rem;
}

.btn-light {
    color: #212529;
    background-color: #e1e6ea;
    border-color: #f8f9fa;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

hr.horizontal-bar {
  width: 100%;
  margin: 20px auto;
  color: #686868;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0.6em;
  font-weight: 400;
}

p {
  margin: 0.4em;
}

p,
span,
li {
  line-height: 1.8em;
}

.spacer {
  height: 50px;
}

.text-link {
  color: darkslateblue;
  font-weight: 400;
  text-decoration: none;
}

.text-link:hover {
  color: darkgray;
}

.list-group {
  margin-bottom: 20px;
}

.row ul,
ol {
  margin-left: 10vw;
  margin-right: 10vw;
}

ul {
  padding-inline-start: 0;
}

.row li {
  padding-top: 2vh;
  text-align: center;
}

.row ol li {
  padding: 0;
}

main {
  min-height: 90%;
}

footer {
  display: flex;
  text-align: center;
  align-self: center;
  width: 100%;
  color: #666;
  font-size: 14px;
  background: #eee;
  min-height: 10%;
}

footer p {
  padding: 0 10%;
}

/* Chart option description */

.description-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px 0;
  font-style: italic;
  color: #666;
  text-align: center;
}

.description-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px 10px;
  font-size: larger;
  flex-wrap: wrap;
}

.description-label {
  flex: 1;
  position: relative;
  text-align: center;
  color: #20603b;
  padding: 5px 5px 10px;
}

.description-label:hover {
  color: #4caf50;
  cursor: pointer;
}

.description-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Top navigation bar */

.topnav {
  background-color: #4caf50;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.topnav .first_button {
  background-color: inherit;
  font-family: inherit;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 15px 20px;
  text-decoration: none;
}

.topnav .button {
  background-color: inherit;
  font-family: inherit;
  color: #f6f9f6;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 5px;
  padding: 0 6px;
  height: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.topnav .button:hover {
  color: #20603b;
}

.topnav .first_button:hover {
  background-color: #20603b;
}

#login_logout_button {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  padding: 15px 20px;
}

#greeting {
  color: #f6f9f6;
  font-weight: bold;
}

/* Top navigation bar dropdown menu (Data Visualization) */

.dropdown {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.dropbtn {
  position: relative;
  height: inherit;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  display: none;
  margin-left: 5px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  padding: 10px 12px;
  text-decoration: none;
  display: flex;
  color: indigo;
  font-weight: bold;
  font-size: 16px;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown-content a:hover {
  background-color: #d0d0d0;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* Chart index */

.graph_buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 316px);
  justify-content: space-around;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  padding: 10px;
}

.button_container {
  position: relative;
  height: 175px;
  display: flex;
  justify-content: center;
}

.button_container .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button_container:hover img.button {
  opacity: 0.3;
}

.button_container:hover .middle {
  opacity: 1;
}

.middle .text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 20px;
  text-align: center;
  border-radius: 2px;
}

div.button_container img.button {
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* Login/Logout */

form {
  width: 50%;
  padding: 0 15px;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#login-button {
  font-family: inherit;
  color: #444;
  background-color: rgba(76, 175, 80, 0.5);
  border: 1px solid rgba(44, 140, 89, 0.5);
  margin-left: 30px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 2px;
}

#login-button:hover {
  background-color: #2c8c59;
  color: #f6f9f6;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-alert {
  color: red;
}

/* Chart option selections */

.options-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.data-dropdown-container:not(#Activity_dropdown_container):not(#x_axis_Activity_container):not(#y_axis_Activity_container):not(#Clinical_Data_dropdown_container) {
  display: none;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-categories {
  padding: 6px 4px 6px 4px;
  font-size: 14px;
  background: rgba(76, 175, 80, 0.5);
  border: none;
  border-radius: 2px;
  position: relative;
}

.search-categories .select {
  width: 100%;
}

.search-categories .select select {
  font-family: inherit;
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 5px;
  min-height: 20px;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
  outline: none;
}

.axis-selections {
  display: flex;
  flex-direction: column;
}

/* Chart components */

.surrounding-chart-container{
  position: relative;
  width:84%;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin: 20px 40px;
  height: 80%;
  z-index: 100;
}

.chart-container .chart {
  max-height: none !important;
  height: 100%;
  width: 100%;
  z-index: 50;
}

#HDRS-colors{
  width: calc(100% - 241px);
  height: 55.2%;
  position: absolute;
  top: 24.5%;
  left: 120px;
  display: none;
}

#PHQ9-colors{
  width: calc(100% - 241px);
  height: 55.2%; position:
  absolute; top: 24.5%;
  left: 120px;
  display:none;
}

#depression-legend-HDRS{
  font-size: 13px;
  width: 190px;
  height: 220px;
  position: absolute;
  top: 29.5%;
  left: 97%;
  background-color: rgb(236,236,236);
  padding: 10px;
  display: block;
}

#depression-legend-PHQ9{
  font-size: 13px;
  width: 190px;
  height: 220px;
  position: absolute;
  top: 29.5%;
  left: 97%;
  background-color: rgb(236,236,236);
  padding: 10px;
  display: block;
}

.legend-container{
  display: flex;
  margin-bottom: 5px;
}

.color-container{
  margin: 0 3% 0 10%;
  width: 45px;
  height: 30px;
}



div.plotly-notifier {
  visibility: hidden;
}

/* "Learn More" button */

#learn-more {
  background-color: lightgray;
  font-family: inherit;
  color: #444;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(44, 140, 89, 0.5);
  text-decoration: none;
  width: 150px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

#learn-more:hover {
  background-color: #2c8c59;
  color: #f6f9f6;
}

/* Loading spinner */

#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 98;
  text-align: center;
}

#loading-image {
  z-index: 99;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #4caf50;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.personalimage {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  display: flex;
  width: 40vh;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.name-text {
  padding-top: 2vh;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.study-section{
  padding: 0 15vw;
}

.home-section{
  padding: 0 14vw;
}

.study-name{
  color: rgba(36, 135, 40, 1);
}

.subheader{
  text-align: left;
  margin-left: 0;
  color: rgba(36, 135, 40, 1);
}
.basic-information{
  text-align: center;
  line-height: 1.5rem;
}
.sub-text ol{
  margin-left: 0;
  text-align: left;
}

.sub-text ul{
  margin-left: 0;
  text-align: left;
  padding-inline-start: 40px;
}

.sub-text p{
  margin-left: 0;
  line-height: 1.5rem;
}
.sub-text ol li{
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.sub-text strong{
  line-height: 1.5rem;
}

.img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container img{
  margin: 1.8rem 0 1rem 0;
  width:40vw;
  height: auto;
}

.curious{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.curious p{
  margin-top: 0;
}

.img-container-home{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh 0 5vh 0;
}

.img-container-home img{
  margin: 1.8rem 0 1rem 0;
  height:10vh;
  width: auto;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
