{% extends "viz_app/base.html" %}

{% block content %}
    <div class="content">
        <h1>Login</h1>
        <div class="login-form">
            {% if form.errors %}
                <span class="login-alert">Invalid username and/or password. Please try again.</span>
            {% endif %}

            {% if was_redirected %}
                <span class="login-alert">Please log in to view this page</span>
            {% endif %}

            <form method="post" action="{% url 'viz_app:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="id_username">
                        {{ form.username.label_tag }}
                    </label>
                    <div>
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_password">
                        {{ form.password.label_tag }}
                    </label>
                    <div>
                        {{ form.password }}
                    </div>
                </div>

                <input id="login-button" type="submit" value="Login">
            </form>
        </div>
    </div>

{% endblock %}